.pagination{
    /* background-color: #FF9900; */
    /* padding-top: 30px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.pagination> button{
    width: 90px;
    background-color: #1b1b1b;
    text-align: center;
    padding: 10px 5px;
    border-radius: 20px;
    color: white;
    margin:0  6px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);

}